<% layout("/layouts/boilerplate.ejs")%>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <form method="post" action="/event/<%=event._id%>/edit?_method=PATCH" novalidate
                    class="needs-validation">
                    <div class="mb-3">
                        <label for="name" class="form-label">Event Name:</label>
                        <input type="text" value="<%=event.name%>" name="name" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Event Description:</label>
                        <textarea name="description" class="form-control" required><%=event.description%> </textarea>
                    </div>
                    <div class="mb-3">
                        <label for="totalSeats" class="form-label">Event Total-Seats:</label>
                        <input type="number" value="<%=event.totalSeats %>" name="totalSeats" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="availabeSeats" class="form-label">Event Availabe-Seats</label>
                        <input type="number" value="<%= event.seatsAvailable%>" name="seatsAvailable" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Data:</label>
                        <input type="date" value="<%= event.date %>" name="date" class="form-control" required>
                    </div>
                    <button class="btn edit-btn btn-dark">Edit</button>
                </form>
            </div>
        </div>
    </body>