<% layout("/layouts/boilerplate.ejs")%>
    <% if (success_msg && success_msg.length) { %>
        <div class="row mt-2">
            <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert" style="padding: 0,auto;">
                <%= success_msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <% } %>
    <% if (error_msg && error_msg.length) { %>
        <div class="row mt-2">
            <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert" style="padding: 0,auto;">
                <%= error_msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
<body>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
        <% for(let event of allEvent) { %> 
            <a href="/event/<%=event._id%>" class="listing-link">
                <div class="card listing-card">
                    <img src="<%=event.imageUrl%>" class="card-img-top" alt="listing-image" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <b><%=event.name %></b>
                    </div>
                </div>
            </a>
        <%}%>
    </div>
</body>
